<%- include('partials/_header') %>
<%- include('partials/_nav') %>
<!-- Link the external CSS file -->
<h2>Developers Page</h2>
<h3>Read Developers:</h3>
<!-- Display all current developers -->
<%- include('partials/_dataTable', {data: developers}) %>

<!-- Creating developer form -->
<div class="form-container">
  <h3>Create a Developer:</h3>
  <form action="/add-developer" method="post">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name-create" name="name" />
    </div>
    <button type="submit">Create Developer</button>
  </form>
  <!-- display the last inserted developer if its given -->
  <% if (typeof lastDeveloperCreated !== 'undefined') { %>
  <p class="info-field">Last Developer Created:</p>
  <%- include('partials/_dataTable', { data: lastDeveloperCreated }); %> <% } %>
</div>

<!-- Delete a developer form -->
<div class="form-container">
  <h3>Delete a Developer:</h3>
  <form action="/delete-developer" method="post">
    <div>
      <select name="developerId">
        <% developers.forEach((item) => { %>
        <option value="<%= item['Developer ID'] %>"><%= item['Name'] %></option>
        <% }) %>
      </select>
    </div>
    <button type="submit">Delete</button>
  </form>
  <!-- display the last deleted developer if its given -->
  <% if (typeof lastDeveloperDeleted !== 'undefined') { %>
  <p class="info-field">Last Developer Deleted: <%= lastDeveloperDeleted %></p>
  <% } %>
</div>

<!-- Update developer form -->
<div class="form-container">
  <h3>Update a Developer:</h3>
  <p><em>Please select a developer and press 'Fill Form' to automatically fill in the update form:</em></p>
  <form action="/fill-update-form-developer" method="post">
    <div>
      <select name="developerId">
        <% developers.forEach((item) => { %>
        <option value="<%= item['Developer ID'] %>"><%= item['Name'] %></option>
        <% }) %>
      </select>
    </div>
    <button type="submit">Fill Form</button>
  </form>
</div>

<div class="form-container">
  <form action="/update-developer" method="post">
    <div>
      <label for="developerId">Developer ID:</label>
      <input
        type="text"
        id="developerId-update"
        name="developerId"
        value="<%= updateFormFillData ? updateFormFillData['Developer ID'] : '' %>"
      />
    </div>
    <div>
      <label for="name">Name:</label>
      <input
        type="text"
        id="name-update"
        name="name"
        value="<%= updateFormFillData ? updateFormFillData['Name'] : '' %>"
      />
    </div>
    <button type="submit">Update</button>
    </form>
  <!-- Display the last developer updated if applicable -->
  <% if (typeof lastDeveloperUpdated !== 'undefined') { %>
  <p class="info-field">Last Developer Updated:</p>
  <%- include('partials/_dataTable', { data: lastDeveloperUpdated }); %> <% } %>
</div>

<%- include('partials/_footer') %>
