<%- include('partials/_header') %> 
<%- include('partials/_nav') %>
<!-- Link the external CSS file -->
<h2>Games Page</h2>
<h3>Read Games:</h3>
<!-- Display all current games -->
<%- include('partials/_dataTable', {data: games}) %>

<!-- Creating game form -->
<div class="form-container">
  <h3>Create a Game:</h3>
  <form action="/add-game" method="post">
    <div>
      <!--title  -->
      <label for="title-create">Title<span class="required">*</span>:</label>
      <input type="text" id="title-create" name="title" />
    </div>
    <div>
      <!-- release year -->
      <label for="releaseYear-create">Release Year<span class="required">*</span>:</label>
      <input type="text" id="releaseYear-create" name="releaseYear" />
    </div>
    <div>
      <!-- price -->
      <label for="price">Price<span class="required">*</span>:</label>
      <input type="text" id="price-create" name="price" />
    </div>
    <div>
      <!-- franchise selection -->
      <label for="franchise-create">Franchise:</label>
      <select name="franchiseId" id="franchise-create">
        <option value="">N/A</option>
        <% franchises.forEach((item) => { %>
        <option value="<%= item['Franchise ID'] %>"><%= item['Title'] %></option>
        <% }) %>
      </select>
    </div>
    <div>
      <!-- developer selection -->
      <label for="developer-create">Developer:</label>
      <select name="developerId" id="developer-create">
        <option value="">N/A</option>
        <% developers.forEach((item) => { %>
        <option value="<%= item['Developer ID'] %>"><%= item['Name'] %></option>
        <% }) %>
      </select>
    </div>
    <button type="submit">Create Game</button>
  </form>
  <!-- display the last inserted game if its given -->
  <% if (typeof lastGameCreated !== 'undefined') { %>
  <p class="info-field">Last Game Created:</p>
  <%- include('partials/_dataTable', { data: lastGameCreated }); %> <% } %>
</div>

<!-- Delete a game form -->
<div class="form-container">
  <h3>Delete a Game:</h3>
  <form action="/delete-game" method="post">
    <div>
      <select name="gameId">
        <% games.forEach((item) => { %>
        <option value="<%= item['Game ID'] %>"><%= item['Title'] %></option>
        <% }) %>
      </select>
    </div>
    <button type="submit">Delete</button>
  </form>
  <!-- display the last deleted game if its given -->
  <% if (typeof lastGameDeleted !== 'undefined') { %>
  <p class="info-field">Last Game Deleted: <%= lastGameDeleted %></p>
  <% } %>
</div>

<!-- Update game form -->
<div class="form-container">
  <h3>Update a Game:</h3>
  <p><em>Please select a game and press 'Fill Form' to automatically fill in the update form:</em></p>
  <form action="/fill-update-form-game" method="post">
    <div>
      <select name="gameId">
        <option value="">-Select-</option>
        <% games.forEach((item) => { %>
        <option value="<%= item['Game ID'] %>"><%= item['Title'] %></option>
        <% }) %>
      </select>
    </div>
    <button type="submit">Fill Form</button>
  </form>
</div>

<div class="form-container">
  <form action="/update-game" method="post">
    <div>
      <label for="gameId">Game ID<span class="required">*</span>:</label>
      <input
        type="text"
        id="gameId-update"
        name="gameId"
        value="<%= updateFormFillData ? updateFormFillData['Game ID'] : '' %>"
      />
    </div>
    <div>
      <label for="title">Title<span class="required">*</span>:</label>
      <input
        type="text"
        id="title-update"
        name="title"
        value="<%= updateFormFillData ? updateFormFillData['Title'] : '' %>"
      />
    </div>
    <div>
      <label for="releaseYear-update">Release Year<span class="required">*</span>:</label>
      <input
        type="text"
        id="releaseYear-update"
        name="releaseYear"
        value="<%= updateFormFillData ? updateFormFillData['Release Year'] : '' %>"
      />
    </div>
    <div>
      <label for="price-update">Price<span class="required">*</span>:</label>
      <input
        type="text"
        id="price-update"
        name="price"
        value="<%= updateFormFillData ? updateFormFillData['Price'] : '' %>"
      />
    </div>
    <div>
      <!-- developer selection -->
      <label for="developer-update">Developer:</label>
      <select name="developerId" id="developer-update">
        <option value="" <%= !updateFormFillData ? 'selected' : '' %>>N/A</option>
        <% developers.forEach((item) => { %>
        <option value="<%= item['Developer ID'] %>" <%= updateFormFillData && updateFormFillData['Developer'] == item['Name'] ? 'selected' : '' %>><%= item['Name'] %></option>
        <% }) %>
      </select>
    </div>
    <div>
      <!-- franchise selection -->
      <label for="franchise-update">Franchise:</label>
      <select name="franchiseId" id="franchise-update">
        <option value="" <%= !updateFormFillData ? 'selected' : '' %>>N/A</option>
        <% franchises.forEach((item) => { %>
        <option value="<%= item['Franchise ID'] %>" <%= updateFormFillData && updateFormFillData['Franchise'] == item['Title'] ? 'selected' : '' %>><%= item['Title'] %></option>
        <% }) %>
      </select>
    </div>
    <button type="submit">Update</button>
  </form>
  <!-- Display the last game updated if applicable -->
  <% if (typeof lastGameUpdated !== 'undefined') { %>
  <p class="info-field">Last Game Updated:</p>
  <%- include('partials/_dataTable', { data: lastGameUpdated }); %> <% } %>
</div>
<%- include('partials/_footer') %>
